%%%names
% XeTeX engine
% use KOMA class for cool presets like A4
\documentclass{scrartcl}

% load default packages for german and unicode support
\usepackage{polyglossia}
\setmainlanguage{german}
\usepackage{xltxtra}

% start with the actual content
\begin{document}

% end of written content
\end{document}

% vim: ft=tex et sw=2 tw=80:
